@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);

body {
  background-color: tan;
}

/* Top Navbar */

nav {
  max-width: 90%;
  margin: 0 auto;
}

nav ul {
  padding: 0;
  margin: 0 auto;
}

/* Large Header */

header {
  clear: both;
  position: relative;
  margin: 0 auto;
  text-align: center;
  background-color: navy;
  max-width: 90%;
  max-height: 920px;
  border-radius: 20px;
  color: white;
  font-family: Cabin Condensed;
}

header img {
  border: 1px solid white;
  border-radius: 20px;
  margin: -10px 0 -10px 0;
  max-width: 90%;
}

header h1 {
  font-size: 3rem;
  padding-top: 20px;
}

header h2 {
  font-size: 2.3rem;
  padding-bottom: 20px;
}

li {
  list-style-type: none;
}

/* Three Info Media Boxes */

main {
  background-color: navy;
  color: white;
  max-width: 90%;
  margin: 10px auto;
  border-radius: 20px;
}

main > div {
  margin: 15px 3px 10px 3px;
}

main > div > img {
  max-width: 250px;
  border: 1px solid white;
  border-radius: 10px;
}

/* Footer Navbar */

footer {
  max-width: 90%;
  margin: 0 auto;
}

/* ------------------ */
/* Navbar with Floats */
/* ------------------ */

/* ------------- */
/* Media Queries */
/* ------------- */


@media (max-width: 600px){
  nav .nav {
  display: block;
  float: none;
  }
}

/* --------------------------- */
/* Using Display Flex */
/* --------------------------- */
main {
  dislay: flex;
  flex-wrap: wrap;
  justif-cntent: space-around;
  align-items: center;
  flex-direction: row;
}

main > div {
  max-widt:260px;
  padding: 5px;
}

/* ------------------- */
/* Navbar with FlexBox */
/* ------------------- */

footer > ul {
  display-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 0 10px 0;
  padding: 0;
}

.flex-grow-class:nth-child(1) {
  flex-grow: 1;
}

@media (max-width: 600px) {
  footer > ul {
    flex-direction: column;
    align-items: flex-start;
  }
}
